

.members {
    width: 65%;
    height: 600px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(247, 247, 233);
}

.members h3 {
    text-align: center;
    padding: 230px 0;
}

.headshot {
    width: 150px;
    border-radius: 5px;
    margin-top: 50px;
}

.memberName {
    margin: 0
}