
.about {
    padding: 100px 0 100px 0;
    background-image: url('https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    background-size: cover;
    color: rgb(68, 68, 68);
    border-bottom: solid black 1px;
    width: 100%;
}

#aboutSection h1 {
    margin: 0 auto 70px;
}

.about h1 {
    font-family: 'Cutive Mono', monospace;
}

.about h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.members {
    /* width: 1150px; */
    width: 90%;
    margin: 150px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    box-shadow: 2px 2px 5px gray;
    background-color: white;
    background-size: cover;
    border: solid rgb(188, 187, 187) 1px;
}

.members h3 {
    text-align: center;
    padding: 230px 0;
}

.headshot {
    width: 200px;
    border-radius: 3px;
    border: solid rgb(128, 128, 128) 1px;
    margin: 50px 14px 0px 14px;
}

.memberName {
    margin: 10px 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    color: rgb(54, 54, 54);
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .members {
        width: 60%;
    }
}