.contact {
	margin: 0;
	padding: 100px 0 100px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: rgb(243, 243, 243);
	width: 100%;
}

.contactQs {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: baseline;
	font-family: 'Cutive Mono', monospace;
	margin-bottom: 50px;
}

.contactForm {
	height: 50vh;
	display: flex;
	flex-direction: column;
	width: 30%;
	border: solid gray 1px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.5rem;
	box-shadow: 5px 5px 10px gray;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	text-transform: uppercase;
}

input {
	width: 80%;
	height: 20px;
}

textarea {
	width: 80%;
	height: 100px;
}

button {
	width: 120px;
	height: 40px;
	background-color: rgb(48, 124, 246);
	color: white;
	font-size: 1.5rem;
	border-radius: 5px;
}

@media only screen and (max-width: 600px) {
	.contact {
		display: flex;
		flex-wrap: wrap;
	}
	.contactQs {
		width: 100%;
	}

	.contactForm {
		width: 90%;
	}
}