.contact {
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.contactQs {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: baseline;
}

.contactForm {
	height: 50vh;
	display: flex;
	flex-direction: column;
	width: 30%;
	/* margin: 0 auto; */
	border: solid gray 1px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.5rem;
}

input {
	width: 80%;
	height: 20px;
}

textarea {
	width: 80%;
	height: 100px;
}

button {
	width: 120px;
	height: 40px;
	background-color: rgb(48, 124, 246);
	color: white;
	font-size: 1.5rem;
	border-radius: 5px;
}