.music {
    flex-direction: column;
    align-items: center;
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Cutive Mono', monospace;
    background-color: rgb(61, 107, 198);
    color: white;
    border-bottom: solid black 1px;
    width: 100%;
}

.music h1 {
    margin: 0;
    padding: 50px 0 50px 0;
}

.music p {
    margin: 0;
    padding: 40px;
}

.video {
    width: 50%;
    padding: 20px;
}

.video p {
    margin: 0 auto;
    font-size: 2rem;
    color: white;
}

.video a {
    text-decoration: none;
}

.video p:hover {
    color: rgb(188, 187, 187);
}

iframe {
    border: solid 10px rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .video {
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .video p {
        text-align: center;
    }

    iframe {
        width: 90%;
        border: none;
    }

}
