.SideBar {
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    display: flex;
    width: 40%;
    background-color: rgba(61, 107, 198, .9);
    float: right;
    /* min-height: 100vh; */
    min-height: 300px;
    margin: 0;
    padding: 0;
    color: white;
    z-index: 10;

}
.barLinks {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0;
    height: 90vh;
}

.sideLink {
    margin: 20px;
    color: white;
}

#closeModal {
    text-align: right;
    width: 100%;
    font-size: 2rem;
    margin: 10px 10px 0px 0px;
    height: 50px;
}